body {
    background: #f8f9fc !important;
    color:#5e676f !important;
}

.body-auth{
    background: rgb(45,193,193) !important;
    background: linear-gradient(135deg, rgba(45,193,193,1) 0%, rgba(5,135,223,1) 100%) !important;
}

.body-auth a {
    color: #43485b;
}

.login-card {
    border: 0 !important;
    width: 500px;
}

.login-input {
    padding:1.3rem 1rem !important;
}

.login-btn {
    background-color: #43485b !important;
    padding: .55rem 1rem !important;
    color:white !important;
    font-size: .8rem;
}

.login-btn:hover {
    cursor: pointer;
    transition: 0.2s;
    color:white;
}

.bg-login-image{
    background: url("/storage/img/login.png");
    background-position: center;
    background-size: cover;
}

.sidebar {
    /*background-color: white;*/
    background: rgb(45,193,193);
    background: linear-gradient(135deg, rgba(45,193,193,1) 0%, rgba(5,135,223,1) 100%);
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    border-right: 1px solid #e3e6f0;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar .sidebar-item{
    cursor: pointer;
}

.sidebar .tetjera{
    display:inline-block;
    margin-left:10px;
    margin-top:20px;
    font-weight:800;
    font-size:10px;
    color:#727cf5;
    text-transform: uppercase;
}

.sidebar .sidebar-logo{
    padding: 8px 30px 9px 30px;
    color: #727cf5;
    font-size: 26px;
    text-align: center;
    font-family: "Arial Rounded MT Bold",sans-serif;
    height: 55px;
    margin-left:-10px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    display: flex;
    align-items: center;
}

.sidebar .sidebar-item .sidebar-link{
    display: block;
    padding: 15px 45px;
    color:white !important;
    text-decoration: none;
}

.sidebar .sidebar-item .sidebar-link span{
    display: inline;
    margin-right: 5px;
}

.sidebar .sidebar-item.active{
    border-left: 4px solid #fff;
    background-color: rgba(255, 255, 255, 0.11);
}

.sidebar .sidebar-item.active a{
    color: #727cf5;
    font-weight: 700;
    margin-left:-4px;
}

.topbar {
    background-color: white;
    margin-left: 250px;
    width: calc(100% - 251px);
    max-width: calc(100% - 251px);
    /*height: 55px;*/
    top: 0;
    z-index: 1;
    position: absolute;
    padding: 0.5rem 1rem;
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);*/
}

.topbar .menu{
    margin-right: 20px;
    margin-left: 0.5rem;
    color: #313a46;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    display: inline-block;
    height: 100%;
}

.topbar .profile-container {
    display: flex;
    list-style-type: none;
    margin:-5px;
    margin-right:0;
    padding:0;
    float: right;
    align-items: center;
}

.topbar .profile-container li{
    display: inline;
}

.topbar .profile-img {
    display: inline;
    margin-right:0.5rem;
    border:1px solid rgba(58, 59, 69, 0.27);
    border-radius: 50% !important;
    height: 50px;
    width: 50px ;
    font-size:30px;
}

.topbar .profile-img img{
    width:50px;
    height:50px;
    display: block;
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: 3rem;
    margin: .3rem 2rem;
    display: inline-block;
}

.topbar .searchbar {
    margin-top:0.5rem;
    margin-left:10px;
    display: inline-block;
}

.topbar .searchbar .searchbar-input{
    width: 360px;
    border: 0;
    background-color: #f8f9fc !important;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    display: inline;
    height: 40px;
    padding: 0.375rem 0.75rem;
    margin:0;
}

.topbar .searchbar-button{
    display: inline;
    background-color: #f8f9fc;
    color: #088cdd;
    margin-left: -5px;
    border: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    height: 40px;
}

.topbar .searchbar-button:hover{
    cursor: pointer;
}

.topbar .searchbar-button:focus{
    outline: 0;
}

.topbar .messages{
    margin-right: 1.5rem;
}

.content {
    width: calc(100% - 250px);
    margin: 85px 0 0 250px;
    padding:10px;
}

.content .content-margin{
    padding: 15px 0;
}

.my-link {
    color:#088cdd !important;
    text-decoration: none;
    background-color: transparent;
}

.my-btn-primary-color {
    background-color: #088cdd !important;
    border-color: #088cdd !important;
}

.my-btn-primary-color:hover{
    transition-duration: 0.3s;
    background-color: #17a1d2 !important;
    border-color: #17a1d2    !important;
}

.my-shadow{
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}


.my-table {
    color:#5e676f !important;
}
.my-table thead th {
    border-top: 0 !important;
}

.btn-green {
    background-color: #1cad8130 !important;
    color: #1cad81 !important;
    font-weight: 600 !important;
}

.btn-green:hover {
    background-color: #1cad8140 !important;
    color: #1cad81 !important;
}

.btn-blue {
    background-color: #088cdd30 !important;
    color: #088cdd !important;
    font-weight: 600 !important;
}

.btn-blue:hover {
    background-color: #088cdd40 !important;
    color: #088cdd !important;
}

.btn-red {
    background-color: #e3342f30 !important;
    color: #e3342f !important;
    font-weight: 600 !important;
}

.btn-red:hover {
    background-color: #e3342f40 !important;
    color: #e3342f !important;
}

.badge-blue {
    background-color: #17a2b830;
    color: #17a2b8;
}

.badge-gray {
    background-color: #6c757d30;
    color: #6c757d;
}
