body {
    background: #f8fafc;
}

.login-card {
    border: 0 !important;
}

.login-input {
    /*border-radius: 10rem !important;*/
    padding:1.3rem 1rem !important;
    /*font-size: .8rem !important;*/
}

.login-btn {
    background-color: #29303b !important;
    padding: .55rem 1rem !important;
    color:white !important;
    font-size: .8rem;
}

.login-btn:hover {
    cursor: pointer;
    transition: 0.2s;
    color:white;
}

.bg-login-image{
    background: url("../img/login.png");
    background-position: center;
    background-size: cover;
}
